Opr_Inv_Recipe/Schemas/updateRecipeResponseResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1690186498574" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1690186498574">
  <complexType name="updateRecipeResponseElementType">
    <sequence>

      <element maxOccurs="1" minOccurs="0" name="statusCode" type="integer" nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="statusMessage" type="string" nillable="true"/>     
    </sequence>
  </complexType>
  <element name="updateRecipeResponseElement" type="tns:updateRecipeResponseElementType"/>
</schema>
